.jutuaken{
    padding-left: 15px;
    display: block;
    width: 100%;
    float: left;
}
.paremal {
    width: 100%;
}
.algusmenu {
    position: relative;
}

@media all and (max-width: 800px) {
    .keha {
        display:flex;
        flex-flow: column;
    }
    .logo { order: 4;}
    .menu { order: 2;}
    .paremal { order: 3;}
    .rida {order: 1;}

}

.ajalugu{
    padding-left: 15px;
}
.tstyle{
    background-image: url(tstyle.png);
}
.kulka{
    background-image: url(kulka_logo.jpg);
}
.tartu_linn{
    background-image: url(tartu_logo.jpg);
}
.bigmenu {
    width: 80%;
    height: 60px;
    text-align: center;
    padding-top: 40px;
    min-width: 580px;

}
.sponsorgrid h2{
    padding-left:15px
}

.sponsorid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem 2rem;
    padding-left: 15px;
    padding-bottom: 50px;
}
@media (max-width: 800px) {
    .sponsorid {
        grid-template-columns: 1fr;
    }

}

.sponsor{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 7rem;
    transition: opacity 0.2s ease, transform 0.2s ease;
}
.sponsor:hover{
    opacity: 0.7;
    transform: scale(1.1) rotate(-3deg);
    background-color: whitesmoke;
}

