.jutuaken{
    padding-left: 15px;
    display: block;
}

.ajalugu{
    padding-left: 15px;
}
.tstyle{
    background-image: url(tstyle.png);
}
.kulka{
    background-image: url(kulka_logo.jpg);
}
.tartu_linn{
    background-image: url(tartu_logo.jpg);
}
.sponsorgrid h2{
    padding-left:15px
}
.sponsorid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem 2rem;
    padding-left: 15px;
}
.sponsor{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 7rem;
    transition: opacity 0.2s ease, transform 0.2s ease;
}
.sponsor:hover{
    opacity: 0.7;
    transform: scale(1.1) rotate(-3deg);
}

