.paevakud{
    border-width: 5px;
    border-color: orange;
    border-style: solid;
    display: block;
    position: relative;
}

/*SHS kalendrid (uued)*/
.shsKalenderRaam {
    background: #fff;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: #8b8b8b 0px 0px 5px inset;
    -moz-box-shadow: #8b8b8b 0px 0px 5px inset;
    box-shadow: #8b8b8b 0px 0px 5px inset;
    padding: 3px;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 11pt;
    display: inline-block;
    width: 98%;
    line-height: 1em;
}

.shsToimunud {
    background-color: #D1E4DE;
}

.shsTana {
    background-color: #FCE4BC;
}

.shsPais {
    width: 99%;
    padding: 2px;
    margin: 2px;
    display: inline-block;
    vertical-align: central;
}

.shsKell {
    color: #717171;
    font-size: 8pt;
}

.shsKuup {
    float: left;
    display: inline-block;
    margin: 2px 5px 2px 2px;
    vertical-align: central;
}

.shsPealkiri {
    float: left;
    width: 79%;
    font-size: 14pt;
    font-weight: bold;
}

.shsKoht {
    font-weight: normal;
    color: #5C5C5C;
    margin: 2px 5px 2px 2px;
    vertical-align: central;
}

.shsSisu {
    margin: 2px;
    float: left;
    width: 99%;
    vertical-align: text-top;
}

.shsInfo {
    margin: 2px 7px 2px 2px;
    float: left;
}

.shsTulemused {
    margin: 0;
    padding: 0;
    float: left;
}

    .shsTulemused ul {
        padding: 0px;
        margin: 3px 2px 4px 2px;
        list-style-type: none;
    }

        .shsTulemused ul li {
            display: inline;
            float: left;
            margin: 5px;
        }

            .shsTulemused ul li a {
                margin: 2px;
                border-radius: 3px;
                padding: .1em 1em;
                background-color: #669900;
                color: #fff;
                text-decoration: none;
            }

                .shsTulemused ul li a:hover {
                    background-color: #333333;
                    color: #fff;
                }

            .shsTulemused ul li.prot {
                display: inline;
                float: left;
            }
            .shsIframe {
                width: 90%;
                height: 600px;
            }
            
            .oBingMap {
                position: relative;
                width: 100%;
                height: 450px;
                clear: both;
            }
            .tbox {
                position: absolute;
                display: none;
                padding: 14px 17px;
                z-index: 3900;
            }
            
            .tinner {
                padding: 15px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                background: #fff url(preload.gif) no-repeat 50% 50%;
                border-right: 1px solid #333;
                border-bottom: 1px solid #333;
            }
            
            .tmask {
                position: absolute;
                display: none;
                top: 0px;
                left: 0px;
                height: 100%;
                width: 100%;
                background: #000;
                z-index: 800;
            }
            
            .tclose {
                position: absolute;
                top: 0px;
                right: 0px;
                width: 30px;
                height: 30px;
                cursor: pointer;
                background: url(close.png) no-repeat;
            }
            
                .tclose:hover {
                    background-position: 0 -30px;
                }
            
            .tcontent {
                overflow: scroll;
                margin: 2px;
                display: inline-block;
                width: 580px;
                height: 550px;
            }
            
            .news_title {
                color: #999999;
                font-size: 12px;
            }