@import url(../common.css);

body, .ccmsBody {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: Black;
        background: white;
}

table {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: White;
	color: Black;
}

p {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: Black;
	text-align: justify;
}

.ccmsButton {
	background-color: #DCDCDC;
	margin-top: 2px;
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	border: 1px solid;
}

.ccmsContent {
	background-color: White;
	color: Black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 5px 5px 5px 5px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
}

.ccmsHeader {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
}
.ccmsSidebar{
    display: none;
    visibility: hidden;
}
.ccmsMenu {
	color: Black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	visibility: hidden;
	display: none;
}

.ccmsMenuItem {
	color: Black;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	visibility: hidden;
	display: none;
}

.ccmsSelectedMenu {
	color: Black;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	visibility: hidden;
	display: none;
}

a:visited.ccmsMenuLink, a:link.ccmsMenuLink {
	color: Black;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	visibility: hidden;
	display: none;
}

a:active.ccmsMenuLink, a:focus.ccmsMenuLink, a:hover.ccmsMenuLink {
	color: Blue;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	visibility: hidden;
	display: none;
}

.ccmsHint {
	background-color: #FFFFE0;
	margin: 3px 3px 3px 3px;
	padding: 2px 3px 2px 3px;
	border: 1px solid Gray;
}

.ccmsTable {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: Black;
}

.ccmsTableHeader {
	background-color: Silver;
	font-weight: bold;
	border: thin ridge #F8F8FF;
	font-size: x-small;
	color: White;
}

h1 {
	font-family: "MS Sans Serif", Geneva, sans-serif;
	font-size: 18px;
	color: #000080;
}

h2 {
	font-family: "MS Sans Serif", Geneva, sans-serif;
	font-size: 16px;
	color: #000080;
}

h3 {
	font-family: "MS Sans Serif", Geneva, sans-serif;
	font-size: 14px;
	color: #000080;
}

h4 {
	font-family: "MS Sans Serif", Geneva, sans-serif;
	font-size: 13px;
	color: #000080;
}

h5 {
	font-family: "MS Sans Serif", Geneva, sans-serif;
	font-size: 12px;
	color: #000080;
}

a:visited, a:link {
	text-decoration: none;
	color: #558A22;
}

a:active, a:focus, a:hover {
	text-decoration: none;
	color: #8A2222;
}

hr {

}

.news_title {
	color: #006400;
	font-size: 13px;
	font-weight: bold;
}

.tekstgrupp {
	background-color: transparent;
	width: 98%;
	border: 1px solid #F5F5F5;
	display: block;
	margin-right: 3px;
	margin-top: 2px;
}

.calDate {
	background-color: White;
	font-family: "Times New Roman", Times, serif;
	font-size: 11px;
	text-decoration: none;
}

.calDateSelect {
	font-family: "Times New Roman", Times, serif;
	font-size: 11px;
	text-decoration: none;
	border: 2px solid;
}


ul
{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    margin-left: 0; 
    padding-left: 0; 
    list-style: none;
}
ul li
{
    padding-left: 15px;
    background-image: url(bull1.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.ccmsInfoRow
{
    font-size: 10pt;
    color: gray;
    text-align: center;
}

.ccmsTableCellText
{
    margin: 5px;
}

ul.dok{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    list-style: none;
    margin-left: 0; 
    padding-left: 0; 
}

ul.dok li
{
    padding-left: 15px;
    background-image: url(dok.gif);
    background-repeat: no-repeat; 
    background-position: 0px 0px;
}

.info
{
    padding: 5px;
    margin: 5px;
    background-color: #FFF7D5;
}

