# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kustu\Documents\proge\TÜ Baka\Sess 1\Sissejuhatus erialasse\IlvesWWW\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
